
	<!--start-header--->
	
	
	<div class="header">
  	<!--start-wrap--->
  	<div class="wrap">
  			<!--start-logo--->
  			<div class="logo">
  				<a><img src="/images/logo.png" /></a>
  			</div>
  			<div class="top-nav">
          
  			</div>
  			<div class="clear"> </div>
  			<!--End-logo--->
  		  </div>
  		<!--End-header--->
  	</div>
  	<div class="clear"> </div>
  	<div class="banner-slider">
  	<div class="wrap box">
      <div class="contact-form">
        <h2 class="rotulo">REGÍSTRATE</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          
          <div style="float:left; width: 45%" >
            	<span><%= f.input :name, autofocus: true, :class => "textfield", label: "Nombre" %></span>

            	<span><%= f.input :apat, :class => "textfield", label: "Apellido Paterno" %></span>

            	<span><%= f.input :amat, :class => "textfield", label: "Apellido Materno" %></span>
            	
            	<span><%= f.input :email, :class => "email", label: "Correo" %></span>
            	
            	<span><%= f.input :dni, :class => "textfield", label: "Ingrese su número de D.N.I." %></span>
          </div>
          
          <div style="float:left; width: 45%" >
            
            	<span><%= f.input :tel, :class => "num", label: "Teléfono" %></span>
            	
            	<span><%= f.input :cel, :class => "num", label: "Celular" %></span>
            	
            	<span><%= f.input  :fech, :as => :date, :start_year => Date.today.year - 18,
:end_year => 1940,
:order => [ :day, :month, :year], :class => "textfield", label: "Fecha de nacimiento " %></span>
            	
            	
            <div>
              <span><label><%= f.label :password, 'Contraseña' %><br /></label></span>
              <% if @validatable %>
              <span><label>(<%= @minimum_password_length %> caracteres como mínimo)</label></span>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", :class => "textfield" %>
            </div>
          
            <div class="field">
              <span><label><%= f.label :password_confirmation, 'Repita su contraseña' %><br /></label></span>
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "textfield" %>
            </div>

          </div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <div align="center">
            <span align="center" style="width: 15%"><%= f.submit  "Registrar" %></span>
          </div>
          
        <% end %>
        
        <span align="center"><%= render "devise/shared/links" %></span>
      </div>
      <div class="clear"> </div>
  </div>
</div>

	<!--End-wrap--->