		<!--start-header--->
		<div class="header">
		<!--start-wrap--->
		<div class="wrap">
				<!--start-logo--->
				<div class="logo">
					<a><img src="/images/logo.png" /></a>
				</div>
				<div class="top-nav">
					<ul>
						
						<li class="active"><a <%= link_to "Inicio", :controller => "welcome", :action => "index" %>></a></li>
						<li><a <%= link_to "Nosotros", :controller => "welcome", :action => "about" %>></a></li>
						<li><a <%= link_to "Servicios", :controller => "welcome", :action => "service" %>></a></li>
						<li><a <%= link_to "Contacto", :controller => "welcome", :action => "contact" %>></a></li>
						<% if client_signed_in? %>
							<li><%= link_to "Bienvenido, "+current_client.name, :controller => "welcome", :action => "intranet" %></li>
							<li><%= link_to "Cerrar sesión", destroy_client_session_path, method: :delete %>></a></li>
						<% elsif administrator_signed_in?%>
							<li><%= link_to "Bienvenido, "+current_administrator.name, :controller => "welcome", :action => "intranetAdministrator" %></li>
							<li><%= link_to "Cerrar sesión", destroy_administrator_session_path, method: :delete %>></a></li>
						<% else %>
							<li><%= link_to "Iniciar sesión", new_client_session_path %>></a></li>
							<li><%= link_to "Regístrese", new_client_registration_path %>></a></li>
						<% end %>

					</ul>
				</div>
				<div class="clear"> </div>
				<!--End-logo--->
			</div>
			<!--End-header--->
		</div>
		<div class="clear"> </div>
		<div class="banner-slider">
		<div class="wrap box">
			<div class="banner">
	        <div class="flexslider">
	          <ul class="slides">
	            <li data-thumb="/images/1.jpg">
	  	    	    <img src="/images/1.jpg" />
	  	    		</li>
	  	    		  <li data-thumb="/images/2.jpg">
	  	    	  <img src="/images/2.jpg" />
	  	    		</li>
	  	    		  <li data-thumb="/images/1.jpg">
	  	    	    <img src="/images/1.jpg" />
	  	    		</li>
	  	    		  <li data-thumb="/images/4.jpg">
	  	    	    <img src="/images/4.jpg" />
	  	    		</li>
	          </ul>
	      </div>
	       <div class="clear"> </div>
	  </div>
	   <div class="clear"> </div>
	  </div>
	  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
  <!-- FlexSlider -->
  <script defer src="js/jquery.flexslider.js"></script><script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
  <div class="clear"> </div>
  <div class="wrap">
		<div class="section group">
						<div class="col images_1_of_5">
							 <img src="/images/tyre.png">
							 <h2>Más ventas</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">LEER MÁS</a></span></div>
					   </div>
						<div class="col images_1_of_5">
							 <img src="/images/repair.png">
							 <h2>Reparación</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">LEER MÁS</a></span></div>
					    </div>
						<div class="col images_1_of_5">
							 <img src="/images/complete.png">
							 <h2>Reportes</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">LEER MÁS</a></span></div>
						</div>
						<div class="col images_1_of_5">
							 <img src="/images/spares.png">
							 <h2>Sincronización</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">LEER MÁS</a></span></div>
						</div>
						<div class="col images_1_of_5">
							 <img src="/images/sales.png">
							 <h2>Más clientes</h2>
							 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						     <div class="button"><span><a href="#">LEER MÁS</a></span></div>
						</div>
					</div>
					
			  	 <div class="clear"> </div>
	</div>
		<!--End-wrap--->