
<script type='text/javascript'>
$(document).ready(function(){
  
  $("#select_local").change(function(){
    var myPara = document.getElementById("tablita");
    myPara.style.display = "";
  });

});
</script>


  <!--start-header--->
  <div class="header">
    <!--start-wrap--->
    <div class="wrap">
        <!--start-logo--->
        <div class="logo">
          <a><img src="/images/logo.png" /></a>
        </div>
        <div class="top-nav">
          <ul>
						<li><a <%= link_to "+ vehículo", new_vehicle_path %>></a></li>
						<li><a <%= link_to "Vehículos", vehicles_path %>></a></li>
						<li class="active"><a <%= link_to "Reservar cita", new_citum_path %>></a></li>
						<li><a <%= link_to "Citas", cita_path %>></a></li>
						<li><%= link_to "Bienvenido, "+current_client.name, :controller => "welcome", :action => "intranet" %></li>
						<li><%= link_to "Cerrar sesión", destroy_client_session_path, method: :delete %>></a></li>

					</ul>
        </div>
        <div class="clear"> </div>
        <!--End-logo--->
        </div>
      <!--End-header--->
    </div>
    <div class="clear"> </div>
    <div class="banner-slider">
    <div class="wrap box" style="width: 50%">
      <div class="contact-form" >
        
        
        
        <h2 class="rotulo" >RESERVAR CITA</h2>
        
        <%= simple_form_for @citum, :url => {:action => :create, :id => @client.id} do |f| %>
          <%= f.error_notification %>
        
          <div class="form-inputs" >
            <%= f.association :vehicle, :collection => Vehicle.where(client_id: @client.id), label: "Seleccione su vehículo: " %><br/>
            <%= f.association :tipoServicio, label: "Tipo de servicio: " %><br/>
            <%= f.association :espeServicio, label: "Kilometraje: " %><br/>
            <%= f.label :observacion, 'Observaciones' %><br />
            <%= f.text_area :observacion, label: "Observaciones: "%><br/>
            <%= f.association :distrito, label: "Distrito de la sede: " %><br/>
            <%= f.association :local, label: "Nombre de la sede: ", input_html:{ id:'select_local'} %><br/>

            <%= f.input  :fecha, :as => :date, :start_year => Date.today.year, :end_year => Date.today.year, 
            :order => [ :day, :month, :year], :class => "textfield", label: "Fecha de atención" %>
            
            
            
            
            <br/>
            

            <table id="tablita", style="display:none">
              <thead>
                <tr style="width: 100%" bgcolor="#D1C0C0">
                  <th style="width: 30%">Taller</th>
                  <th style="width: 30%">Asesor de servicio</th>
                  <th style="width: 30%">Horario</th>
                  <th style="width: 10%">√</th>
                  <th colspan="4"></th>
                </tr>
              </thead>
            
              
                  
                    
              <%= f.association :hour, :label_method => lambda { |hour| "<tbody><tr style='width: 100%; margin: 10px'><th align='center' style='width: 30%'>#{hour.local.name}</th><th align='center' style='width: 30%'>#{hour.worker.name}</th><th align='center' style='width: 30%'>#{hour.atention.strftime("%H:%M")}</th><th align='center' style='width: 30%'>#{hour.dispon}</th></tr></tbody>".html_safe }, :as => :radio_buttons, label: "" %><br/>
                    
                  
              
            </table>
            
            <br/>
            <%= f.input :especial, label: "Solicita recojo del vehículo" %>
            <br/>
            <h1 style="font-size:0.8125em;">Para verificar sus datos, seleccione por favor el horario de preferencia en que desea ser contactado</h1>
            <%= f.input :verDia, label: "Día: " %>
            <%= f.input :verDesde, label: "Desde: " %>
            <%= f.input :verHasta, label: "Hasta: " %>
          </div>
        
          <div align="center">
            <%= f.button :submit, "Reservar cita" %>
          </div>
        <% end %>
        
        
        
      </div>
      <div class="clear"> </div>
  </div>
</div>





  <!--End-wrap--->



